$widthPC: 1024px; //PC
$widthTab: 768px; //タブレット
$widthSp: 568px; //スマートフォン

// @mixin pc {
//   @media (max-width: ($widthPC)) {
//     @content;
//   }
// }
@mixin sp {
  @media (max-width: ($widthPC)) {
    @content;
  }
}


.slide{
  width: 960px;
  margin: 253px auto 0;
  @include sp {
    width: 82%;
  }
  &__heading{
    font-size: 50px;
    color: #F59654;
    padding: 0 0 0 15px;
    border-left: 66px solid #F59654;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 0.8;
    &__model{
      font-size: 18px;
    }
  }
  &__txt{
    font-size: 18px;
    padding: 23px 0 0;
    line-height: 1.75;
  }
  &__list{
    margin: 65px auto 0;
  }
  &__item{
    width: 100%;
  }
}

.thumnail{
  &__list{
    width: 960px;
    margin: 39px auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    @include sp {
      width: 100%;
    }
  }
  &__item{
    width: 18%;
    margin: 0 2.5% 0 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    position:relative;
    @include sp {
      width: 30%;
      margin: 0 5% 5% 0;
    }
    &:nth-child(5n){
      margin: 0 0 20px 0;
      @include sp {
        margin: 0 5% 5% 0;
      }
    }
    &:nth-child(3n){
      @include sp {
        margin: 0 0 20px 0;
      }
    }
    // &:after{
    //   content:'';
    //   background-color: rgba(0,0,0,0.5);
    //   position:absolute;
    //   display: block;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   opacity: 0;
    //   transition: .3s opacity linear;
    // }
    // &.thumbnail-current:after{
    //   opacity: 0;
    // }
    // img{
    //   width: 100%;
    //   margin: 0 auto;
    // }
  }
}

