.slide {
  width: 960px;
  margin: 253px auto 0;
}

@media (max-width: 1024px) {
  .slide {
    width: 82%;
  }
}

.slide__heading {
  font-size: 50px;
  color: #F59654;
  padding: 0 0 0 15px;
  border-left: 66px solid #F59654;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 0.8;
}

.slide__heading__model {
  font-size: 18px;
}

.slide__txt {
  font-size: 18px;
  padding: 23px 0 0;
  line-height: 1.75;
}

.slide__list {
  margin: 65px auto 0;
}

.slide__item {
  width: 100%;
}

.thumnail__list {
  width: 960px;
  margin: 39px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .thumnail__list {
    width: 100%;
  }
}

.thumnail__item {
  width: 18%;
  margin: 0 2.5% 0 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 1024px) {
  .thumnail__item {
    width: 30%;
    margin: 0 5% 5% 0;
  }
}

.thumnail__item:nth-child(5n) {
  margin: 0 0 20px 0;
}

@media (max-width: 1024px) {
  .thumnail__item:nth-child(5n) {
    margin: 0 5% 5% 0;
  }
}

@media (max-width: 1024px) {
  .thumnail__item:nth-child(3n) {
    margin: 0 0 20px 0;
  }
}

.thumnail__item:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s opacity linear;
}

.thumnail__item.thumbnail-current:after {
  opacity: 0;
}

.thumnail__item img {
  width: 100%;
  margin: 0 auto;
}

.slick-initialized .slick-slide {
  transition: opacity 50ms ease 0s;
  -webkit-transition: opacity 50ms ease 0s;
  -moz-transition: opacity 50ms ease 0s;
  -ms-transition: opacity 50ms ease 0s;
  -o-transition: opacity 50ms ease 0s;
}

.spec {
  margin: 36px auto 0;
}

.spec__list {
  margin: 53px auto 0;
  display: flex;
  justify-content: space-between;
}

.price {
  margin: 109px auto 0;
}

.contact {
  margin: 279px auto 0;
}

@media (max-width: 1024px) {
  .contact {
    width: 91%;
    margin: 112px auto 0;
    margin-top: calc(112 * (100vw / 375));
  }
}

.back {
  margin: 210px auto 0;
}

@media (max-width: 1024px) {
  .back {
    margin-top: calc(112 * (100vw / 375));
  }
}

.back__txt {
  border-top: 1px solid #FFF;
  padding: 233px 0 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .back__txt {
    padding-top: calc(112 * (100vw / 375));
  }
}

.back__btn {
  position: relative;
  width: 550px;
  background: #333;
  font-size: 20px;
  height: 158px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .back__btn {
    width: calc(270 * (100vw / 375));
    height: calc(90 * (100vw / 375));
    font-size: calc(14 * (100vw / 375));
    max-width: 350px;
    max-height: 120px;
  }
}

.back__btn:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18%;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: 13px;
  height: 13px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.contact__sns {
  margin: 147px auto 0;
  text-align: center;
}
