@charset "UTF-8";
html {
  overflow: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 62.5%;
  letter-spacing: 0;
  min-width: 100%;
  width: 100%;
  background: #000;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

a:hover {
  opacity: .5;
}

ul {
  list-style: none;
}

p {
  font-size: 18px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table th {
  font-weight: bold;
  vertical-align: top;
}

table td {
  vertical-align: top;
}

td:nth-child(odd) {
  background: #222222;
}

.pc__only {
  display: block;
}

@media (max-width: 1024px) {
  .pc__only {
    display: none;
  }
}

.common__heading {
  font-size: 38px;
  text-align: center;
  font-weight: 300;
  letter-spacing: -.03em;
}

@media (max-width: 1024px) {
  .common__heading {
    font-size: calc(20 * (100vw / 375));
  }
}

.common__txt {
  line-height: 1.75;
}

.feature__heading {
  text-align: center;
  margin: 30px 0 20px;
  padding: 165px 0 0;
}

@media (max-width: 1024px) {
  .feature__heading {
    padding: 93px 0 0;
  }
}

.content__area {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto 30px;
}

@media (max-width: 1024px) {
  .content__area {
    margin: 0 auto;
    width: 82%;
  }
}

.ttl-ora {
  font-size: 22px;
  color: #F59654;
  padding: 0 0 0 13px;
  border-left: 11px solid #F59654;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .ttl-ora {
    font-size: calc(18 * (100vw / 375));
    line-height: 1.65;
  }
}

.en {
  display: block;
  font-size: 18px;
  color: #F59654;
}

@media (max-width: 1024px) {
  .en {
    font-size: calc(10 * (100vw / 375));
    letter-spacing: 0;
    padding-top: calc(7 * (100vw / 375));
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

.header__area {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5%;
}

.header__list {
  display: flex;
}

.header__list__item {
  font-size: 16px;
  margin: 0 69px 0 0;
}

.header__list__item:last-child {
  margin: 0;
}

.scroll {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.3);
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  opacity: 1;
  color: #F59654;
  /* hover時の色を変更 */
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
  color: #F59654;
  /* hover時の色を変更 */
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  /* 元のcontentプロパティの値だとfont-sizeを変更した際に位置がずれてしまうので値を変更 */
  /* content: '•'; */
  content: '●';
  text-align: center;
  opacity: 1;
  color: #F59654;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #905024;
  /* active時の色を変更 */
}

#wrap {
  position: relative;
}

.feature {
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .feature {
    width: 80%;
  }
}

.feature__area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature__heading {
  font-size: 16px;
  margin: 0 0 4%;
}

.feature__heading h2 {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: -.01em;
  margin: 0 auto 50px;
}

@media (max-width: 1024px) {
  .feature__heading h2 {
    font-size: calc(20 * (100vw / 375));
    margin: 0 auto calc(67 * (100vw / 375));
  }
}

.feature__heading p {
  font-size: 18px;
  width: 905px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.75;
  letter-spacing: 0em;
}

@media (max-width: 1024px) {
  .feature__heading p {
    font-size: calc(14 * (100vw / 375));
    width: auto;
    letter-spacing: -.03em;
  }
}

.shop {
  margin: 135px 0 0;
  position: relative;
}

.shop__area {
  position: absolute;
  padding-top: calc(93 * (100vw / 1920));
  padding-left: calc(80 * (100vw / 1920));
}

@media (max-width: 1024px) {
  .shop__area {
    position: relative;
    padding-top: calc(40 * (100vw / 375));
    padding-left: calc(33 * (100vw / 375));
    padding-bottom: calc(49 * (100vw / 375));
  }
}

.shop__heading {
  font-size: 50px;
  color: #F59654;
  letter-spacing: -.01em;
  line-height: 1.35;
}

@media (max-width: 1024px) {
  .shop__heading {
    font-size: calc(40 * (100vw / 375));
  }
}

.shop__txt {
  font-size: 18px;
  padding: 50px 0 0 0;
  padding-top: calc(50 * (100vw / 1920));
  line-height: 2;
  letter-spacing: -.01em;
}

@media (max-width: 1024px) {
  .shop__txt {
    font-size: calc(14 * (100vw / 375));
    padding-top: calc(16 * (100vw / 375));
    line-height: 1.8;
  }
}

.shop__btn {
  position: absolute;
  top: 0;
  margin-top: calc(330 * (100vw / 1920));
  left: 0;
  background: #000;
  color: #fff;
  width: calc(550 * (100vw / 1920));
  padding-top: calc(68 * (100vw / 1920));
  padding-bottom: calc(60 * (100vw / 1920));
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .shop__btn {
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    padding-top: calc(48 * (100vw / 375));
    padding-bottom: calc(40 * (100vw / 375));
    font-size: 14px;
    letter-spacing: 0.01em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.about__area {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.about__txt__area {
  width: 40%;
  text-align: left;
  background-image: url(../images/about_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4% 5% 0 4%;
}

@media (max-width: 1024px) {
  .about__txt__area {
    width: 100%;
    padding-left: calc(35 * (100vw / 375));
    padding-bottom: calc(85 * (100vw / 375));
    padding-top: calc(55 * (100vw / 375));
    padding-right: calc(35 * (100vw / 375));
    text-align: left;
    line-height: 1.75;
    margin: 0 auto;
  }
}

.about__heading {
  font-size: 50px;
  font-size: calc(50 * (100vw / 1920));
  color: #F59654;
  letter-spacing: 0;
  line-height: 1.35;
}

@media (max-width: 1024px) {
  .about__heading {
    font-size: calc(40 * (100vw / 375));
    text-align: left;
    line-height: 1.2;
  }
}

.about__heading__sub {
  font-size: 32px;
  padding: 9px 0 0;
  letter-spacing: 0;
}

@media (max-width: 1024px) {
  .about__heading__sub {
    font-size: calc(18 * (100vw / 375));
    padding-top: calc(38 * (100vw / 375));
    text-align: left;
    line-height: 1.2;
  }
}

.about__txt {
  font-size: 18px;
  padding: 87px 0 0 0;
  line-height: 1.8;
  letter-spacing: -.01em;
}

@media (max-width: 1024px) {
  .about__txt {
    font-size: calc(14 * (100vw / 375));
    padding-top: calc(15 * (100vw / 375));
    text-align: left;
  }
}

.about__img {
  width: 60%;
}

@media (max-width: 1024px) {
  .about__img {
    width: 100%;
  }
}

.rental {
  margin: 166px auto 0;
}

@media (max-width: 1024px) {
  .rental {
    margin-top: calc(89 * (100vw / 375));
  }
}

.rental__list {
  display: flex;
  justify-content: space-between;
  margin: 73px auto 0;
}

@media (max-width: 1024px) {
  .rental__list {
    flex-wrap: wrap;
    margin-top: calc(45 * (100vw / 375));
  }
}

@media (max-width: 1024px) {
  .rental__item {
    flex-wrap: wrap;
    margin-bottom: calc(50 * (100vw / 375));
  }
}

.rental__item__name {
  margin: 17px 0 0;
  line-height: 1.2;
  font-weight: 100;
}

@media (max-width: 1024px) {
  .rental__item__name {
    margin-top: calc(13 * (100vw / 375));
    font-size: calc(18 * (100vw / 375));
  }
}

.rental__item__model {
  display: block;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .rental__item__model {
    font-size: calc(14 * (100vw / 375));
  }
}

.price {
  margin: 217px auto 0;
}

@media (max-width: 1024px) {
  .price {
    margin-top: calc(112 * (100vw / 375));
  }
}

.price__heading {
  line-height: 1.6;
}

.price__txt {
  width: 668px;
  padding: 34px 0 0;
  margin: 0 auto;
  letter-spacing: 0.015em;
}

@media (max-width: 1024px) {
  .price__txt {
    width: 100%;
    font-size: calc(14 * (100vw / 375));
    padding-top: calc(19 * (100vw / 375));
    letter-spacing: 0;
  }
}

.price__list {
  display: flex;
  justify-content: space-around;
  margin: 56px auto 0;
}

@media (max-width: 1024px) {
  .price__list {
    flex-wrap: wrap;
    margin-top: calc(23 * (100vw / 375));
  }
}

.price__item {
  width: 32%;
}

@media (max-width: 1024px) {
  .price__item {
    width: 100%;
    margin-top: calc(41 * (100vw / 375));
  }
}

.price__table {
  margin: 22px 0 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .price__table {
    margin-top: calc(18 * (100vw / 375));
  }
}

.price__table__time {
  width: 50%;
  padding: 17px 0 18px 36px;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .price__table__time {
    font-size: calc(12 * (100vw / 375));
    padding: 17px 0 16px 20px;
  }
}

.price__table__number {
  width: 50%;
  padding: 17px 36px 18px 0;
  font-size: 18px;
  text-align: right;
}

@media (max-width: 1024px) {
  .price__table__number {
    font-size: calc(12 * (100vw / 375));
    padding: 17px 15px 16px 0;
  }
}

.pay__list {
  margin: 77px auto 0;
}

@media (max-width: 1024px) {
  .pay__list {
    margin-top: calc(64 * (100vw / 375));
  }
}

.pay__item {
  width: 48%;
}

@media (max-width: 1024px) {
  .pay__item {
    width: 100%;
    font-size: calc(14 * (100vw / 375));
  }
}

.pay__item__img {
  margin: 34px 0 0;
}

@media (max-width: 1024px) {
  .pay__item__img {
    margin-top: calc(13 * (100vw / 375));
  }
}

.pay__item__txt {
  margin: 18px 0 0;
  line-height: 1.75;
}

@media (max-width: 1024px) {
  .pay__item__txt {
    margin-top: calc(7 * (100vw / 375));
    font-size: calc(14 * (100vw / 375));
  }
}

@media (max-width: 1024px) {
  .cancel__item {
    margin-top: calc(74 * (100vw / 375));
    font-size: calc(14 * (100vw / 375));
  }
}

.cancel__item__txt {
  margin: 26px 0 0;
  line-height: 1.75;
  letter-spacing: -.01em;
}

@media (max-width: 1024px) {
  .cancel__item__txt {
    margin-top: calc(7 * (100vw / 375));
    font-size: calc(14 * (100vw / 375));
  }
}

.insuranc {
  margin: 224px auto 0;
}

@media (max-width: 1024px) {
  .insuranc {
    margin-top: calc(89 * (100vw / 375));
  }
}

.insuranc__heading {
  line-height: 1.6;
}

.insuranc__list {
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .insuranc__list {
    flex-wrap: wrap;
    margin-top: calc(39 * (100vw / 375));
  }
}

.insuranc__item {
  width: 48%;
}

.insuranc__item--mt {
  margin-top: calc(74 * (100vw / 375));
  font-size: calc(14 * (100vw / 375));
}

@media (max-width: 1024px) {
  .insuranc__item {
    width: 100%;
  }
}

.insuranc__txt {
  padding: 20px 0 0;
  letter-spacing: -0.01em;
  line-height: 1.8;
}

@media (max-width: 1024px) {
  .insuranc__txt {
    margin-top: calc(7 * (100vw / 375));
    font-size: calc(14 * (100vw / 375));
    padding-top: calc(13 * (100vw / 375));
    line-height: 1.75;
  }
}

.access {
  margin: 240px auto 0;
  position: relative;
}

@media (max-width: 1024px) {
  .access {
    margin-top: calc(110 * (100vw / 375));
  }
}

.access__area {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.access__txt__area {
  width: 40%;
  text-align: left;
  background-image: url(../images/about_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4% 6.5% 0 4.3%;
}

@media (max-width: 1024px) {
  .access__txt__area {
    width: 100%;
    padding: 15% 9.5% 24% 9.3%;
  }
}

.access__txt {
  width: 100%;
  font-size: .9rem;
}

.access__table {
  margin: 58px 0 0;
  width: 100%;
  border: none;
}

@media (max-width: 1024px) {
  .access__table {
    margin-top: calc(16 * (100vw / 375));
  }
}

.access__table__item {
  border-top: 1px solid;
}

.access__table__item:last-child {
  border-bottom: 1px solid;
}

.access__table__time {
  border: none;
  background: transparent;
  width: 19.5%;
  padding: 22px 0 18px 0;
  font-size: 18px;
}

.access__table__time:nth-child(odd) {
  background: transparent;
}

@media (max-width: 1024px) {
  .access__table__time {
    font-size: calc(12 * (100vw / 375));
    padding: 8px 0 0 0;
    width: auto;
    display: block;
  }
}

.access__table__number {
  border: none;
  background: transparent;
  padding: 22px 0 18px 0;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .access__table__number {
    font-size: calc(12 * (100vw / 375));
    padding: 0 0 21px 0;
    display: block;
  }
}

.access__map {
  width: 60%;
}

@media (max-width: 1024px) {
  .access__map {
    width: 100%;
  }
}

.access__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  width: calc(550 * (100vw / 1920));
  padding-top: calc(68 * (100vw / 1920));
  padding-bottom: calc(60 * (100vw / 1920));
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .access__btn {
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    padding-top: calc(48 * (100vw / 375));
    padding-bottom: calc(40 * (100vw / 375));
    font-size: 14px;
    letter-spacing: 0.01em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.contact {
  margin: 157px auto 0;
}

.contact__heading {
  line-height: 1.6;
}

.contact__link {
  display: flex;
  margin: 67px 0 0;
}

.contact__tel {
  border-right: 1px solid #000;
}

.contact__sns {
  margin: 160px auto 0;
  text-align: center;
}

.contact__sns__txt {
  font-size: 20px;
  letter-spacing: -.04em;
  margin: 0 0 20px;
}

/* フッター　START */
.footer {
  background: #2C2424;
  color: #fff;
  margin: 200px auto 0;
  text-align: center;
  font-size: 0.8rem;
}

.footer__area {
  padding: 40px 0;
}

.footer__logo {
  padding: 73px 0 0;
}

.footer__logo__dynamite {
  padding: 70px 0 0;
}

.footer__list {
  padding: 77px 0 0;
  display: flex;
  justify-content: center;
}

.footer__list__item {
  font-size: 16px;
  margin: 0 69px 0 0;
  letter-spacing: 0em;
}

.footer .copy {
  display: block;
  padding: 85px 0 20px;
  font-size: 11px;
  letter-spacing: 0;
}

/* フッター　END */
