$widthPC: 1024px; //PC
$widthTab: 768px; //タブレット
$widthSp: 568px; //スマートフォン

// @mixin pc {
//   @media (max-width: ($widthPC)) {
//     @content;
//   }
// }
@mixin sp {
  @media (max-width: ($widthPC)) {
    @content;
  }
}

html {
  overflow: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::before, &::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 62.5%;
  letter-spacing: 0;
  min-width: 100%;
  width: 100%;
  background: #000;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  position: relative;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  &:hover {
    opacity: .5;
  }
}

ul {
  list-style: none;
}

p{
  font-size: 18px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table th {
  font-weight: bold;
  vertical-align: top;
}
table td {
  vertical-align: top;
 }

td:nth-child(odd) {
  background: #222222;
 }

// 共通箇所

.pc__only{
  display: block;
  @include sp {
    display: none;
  }
}

.common__heading{
  font-size: 38px;
  text-align: center;
  font-weight: 300;
  letter-spacing: -.03em;
  @include sp {
    font-size: calc(20 * (100vw / 375));
  }
}

.common__txt{
  line-height: 1.75;
}

.content__area{
  width: 90%;
  max-width: 1140px;
  margin: 0 auto 30px;
  @include sp {
    margin: 0 auto;
    width: 82%;
  }
}

.ttl-ora{
  font-size: 22px;
  color: #F59654;
  padding: 0 0 0 13px;
  border-left: 11px solid #F59654;
  font-weight: 300;
  @include sp {
    font-size: calc(18 * (100vw / 375));
    line-height: 1.65;
  }
}

.en{
  display: block;
  font-size: 18px;
  color: #F59654;
  @include sp {
    font-size: calc(10 * (100vw / 375));
    letter-spacing: 0;
    padding-top: calc(7 * (100vw / 375));
  }
}

@media(min-width: 768px){
  a[href^="tel:"]{
    pointer-events: none;
  }
}


header{
  display: none;
  width: 100%;
}

.header {
  position: relative;
  z-index: 101;
  background: rgba(0,0,0,.3);
}
.sp__nav--heading{
  margin: 10px 0;
  @include sp {
    position: relative;
    z-index: 0;
    width: 60%;
    margin: 20px 0 10px;
  }
}
.header__heading{

}
.header__area{
  color: #FAFAFA;
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5%;
  @include sp {
    height: 56px;
  }
}
.fixed{
  position: fixed;
  display: block;
  left: 0;
  height: 100px;
    @include sp {
    height: 56px;
  }
}
.header__list{
  display: flex;
  @include sp {
    flex-wrap: wrap;
  }
}
.header__list__item {
  color: #FAFAFA;
  display: block;
  color: #fff;
  font-size: 16px;
  margin: 0 80px 0 0;
  &:last-child{
    margin: 0;
  }
  @media screen and (min-width: 1025px) and (max-width: 1500px) {
    margin-right: calc(69 * (100vw / 1920));
    font-size: calc(20 * (100vw / 1920));
  }
  @include sp {
    margin: 0;
    // float: none;
    // position: static;
    width: 100%;
    display: block;
    padding: 6px 0;
    transition: color .6s ease;
    font-size: 24px;
  }
}
.nav-toggle {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
  width: 50px;
  cursor: pointer;
  z-index: 101;
  @include sp {
    top: 20px;
  }
}
.nav-toggle div {
  position: relative;
  height: 26px;
}
.nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 30px;
  background: #fff;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
.nav-toggle span:nth-child(1) {
  top: 0;
}
.nav-toggle span:nth-child(2) {
  top: 9px;
}
.nav-toggle span:nth-child(3) {
  top: 18px;
}
.nav-toggle span.nav-toggle-txt{
  height: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  text-align: center;
}
@include sp {
  #mobile-head {
    width: 100%;
    height: 56px;
    z-index: 900;
    position: relative;
  }
  #top-head.fixed .logo,
  #top-head .mobile-logo {
    text-align: left;
  }
  .p-header-nav {
    position: absolute;
    visibility: hidden;
    /* top: -100vh; */
    top: 0;
    background: #333;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
  }
  .p-header-nav ul li a{
    transition: none  ;
    -webkit-transition: none  ;
    -moz-transition: none  ;
    -ms-transition: none  ;
    -o-transition: none  ;
}
  .p-header-nav ul li a,
  .p-header-nav #top-head.fixed #global-nav ul li a {
    font-size: 1rem;
  }
  #nav-toggle {
    display: block;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* #global-nav スライドアニメーション */
  .open #global-nav {
    visibility: visible
  }
}


.scroll{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 34px 0;
  background: rgba(0, 0, 0, 0.3);
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include sp {
    padding: 10px 0 20px 0;
    height: calc(40 * (100vw / 375));
  }
  &__arrow{
    font-size: 24px;
    position: relative;
      @include sp {
        font-size: 14px;
      }
    &:before{
      position: absolute;
      bottom: -22%;
      left: 0;
      right: 0;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 15px;
      height: 15px;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      @include sp {
        width: 10px;
        height: 10px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
      }
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -54px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 12px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button:before{
    opacity: 1;
    color: #F59654; /* hover時の色を変更 */
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before{
    opacity: 1;
    color: #F59654; /* hover時の色を変更 */
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    /* 元のcontentプロパティの値だとfont-sizeを変更した際に位置がずれてしまうので値を変更 */
    /* content: '•'; */
    content: '●';
    text-align: center;

    opacity: 1;
    color: #F59654;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
    opacity: 1;
    color: #905024; /* active時の色を変更 */
}

#wrap{
  position: relative;
}

.feature{
  margin: 0 auto;
  @include sp {
    width: 80%;
  }
  &__area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__heading {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -.01em;
    text-align: center;
    padding: 168px 0 0;
    @include sp {
      font-size: calc(20 * (100vw / 375));
      padding: calc(97 * (100vw / 375)) 0 0;
    }
  }
  &__txt{
    font-size: 18px;
    width: 905px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.8;
    letter-spacing: 0em;
    padding: 46px 0 0;
    @include sp {
      font-size: calc(14 * (100vw / 375));
      width: auto;
      letter-spacing: -.03em;
      padding: calc(65 * (100vw / 375)) 0 0;
      line-height: 1.75;
    }
  }
}


.shop{
  margin: 132px 0 0;
  position: relative;
 &__area{
  position: absolute;
  padding-top: calc(93 * (100vw / 1920));
  padding-left: calc(80 * (100vw / 1920));
  @include sp {
    position: relative;
    padding-top: calc(40 * (100vw / 375));
    padding-left: calc(33 * (100vw / 375));
    padding-bottom: calc(49 * (100vw / 375));
  }
 }
 &__heading{
  font-size: 50px;
  color: #F59654;
  letter-spacing: -.01em;
  line-height: 1.35;
  @include sp {
    font-size: calc(40 * (100vw / 375));
  }
 }
 &__txt{
  font-size: 18px;
  padding: 50px 0 0 0;
  padding-top: calc(50 * (100vw / 1920));
  line-height: 2;
  letter-spacing: -.01em;
  @include sp {
    font-size: calc(14 * (100vw / 375));
    padding-top: calc(16 * (100vw / 375));
    line-height: 1.8;
  }
  }
  &__btn{
    position: absolute;
    top: 0;
    margin-top: calc(330 * (100vw / 1920));
    left: 0;
    background: #000;
    color: #fff;
    // padding: 68px 0 60px 0;
    width: calc(550 * (100vw / 1920));
    padding-top: calc(68 * (100vw / 1920));
    padding-bottom: calc(60 * (100vw / 1920));
    text-align: center;
    font-size: 20px;
    &:before{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 18%;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 13px;
      height: 13px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    @media screen and (min-width: 1025px) and (max-width: 1500px) {
      margin-top: calc(380 * (100vw / 1920));
      padding-top: calc(53 * (100vw / 1920));
      padding-bottom: calc(45 * (100vw / 1920));
     }
    @include sp {
      position: relative;
      width: 100%;
      display: block;
      margin: 0;
      padding-top: calc(48 * (100vw / 375));
      padding-bottom: calc(40 * (100vw / 375));
      font-size: calc(14 * (100vw / 375));
      letter-spacing: 0.01em;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
}


.about{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  @include sp {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  &__area {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  &__txt__area{
    width: 40%;
    text-align: left;
    background-image: url(../images/about_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 81px 100px 0 83px;
    padding: 4% 5% 0 4%;
    @include sp {
      width: 100%;
      padding-left: calc(35 * (100vw / 375));
      padding-bottom: calc(85 * (100vw / 375));
      padding-top: calc(55 * (100vw / 375));
      padding-right: calc(35 * (100vw / 375));
      text-align: left;
      line-height: 1.75;
      margin: 0 auto;
    }
  }
  &__heading{
    font-size: 50px;
    font-size: calc(50 * (100vw / 1920));
    color: #F59654;
    letter-spacing: 0;
    line-height: 1.35;
    @include sp {
      font-size: calc(40 * (100vw / 375));
      text-align: left;
      line-height: 1.2;
    }
    &__sub{
      font-size: 32px;
      padding: 9px 0 0;
      letter-spacing: 0;
      @include sp {
        font-size: calc(18 * (100vw / 375));
        padding-top: calc(38 * (100vw / 375));
        text-align: left;
        line-height: 1.2;
      }
    }
  }
  &__txt{
    font-size: 18px;
    padding: 87px 0 0 0;
    line-height: 1.8;
    letter-spacing: -.01em;
    @media screen and (min-width: 1025px) and (max-width: 1500px) {
      font-size: calc(24 * (100vw / 1920));
      padding-top: calc(50 * (100vw / 1920));
     }
    @include sp {
      font-size: calc(14 * (100vw / 375));
      padding-top: calc(15 * (100vw / 375));
      text-align: left;
    }
  }
  &__img{
    width: 60%;
    @include sp {
      width: 100%;
    }
  }
}

.rental{
  margin: 163px auto 0;
  @include sp {
    margin-top: calc(89 * (100vw / 375));
  }
  &__heading{
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin: 73px auto 0;
    @include sp {
      flex-wrap: wrap;
      margin-top: calc(45 * (100vw / 375));
      justify-content: center;
    }
  }
  &__item{
    @include sp {
      flex-wrap: wrap;
      margin-bottom: calc(50 * (100vw / 375));
    }
    &__name{
      margin: 17px 0 0;
      line-height: 1.2;
      font-weight: 100;
      @include sp {
        margin-top: calc(13 * (100vw / 375));
        font-size: calc(18 * (100vw / 375));
      }
    }
    &__model{
      display: block;
      font-size: 18px;
      @include sp {
        font-size: calc(14 * (100vw / 375));
      }
    }
  }
}

.price{
  margin: 217px auto 0;
  @include sp {
    margin-top: calc(112 * (100vw / 375));
  }
  &__heading{
    line-height: 1.6;
  }
  &__txt{
    width: 668px;
    padding: 34px 0 0;
    margin: 0 auto;
    letter-spacing: 0.015em;
    @include sp {
      width: 100%;
      font-size: calc(14 * (100vw / 375));
      padding-top: calc(19 * (100vw / 375));
      letter-spacing: 0;
    }
  }
  &__list{
    display: flex;
    justify-content: space-around;
    margin: 56px auto 0;
    @include sp {
      flex-wrap: wrap;
      margin-top: calc(23 * (100vw / 375));
    }
  }
  &__item{
    width: 32%;
    @include sp {
      width: 100%;
      margin-top: calc(41 * (100vw / 375));
    }
  }
  &__table{
    margin: 22px 0 0;
    width: 100%;
    @include sp {
      margin-top: calc(18 * (100vw / 375));
    }
    &__item{
    }
    &__time{
      width: 50%;
      padding: 17px 0 18px 36px;
      font-size: 18px;
      @include sp {
        font-size: calc(12 * (100vw / 375));
        padding: 17px 0 16px 20px;
      }
    }
    &__number{
      width: 50%;
      padding: 17px 36px 18px 0;
      font-size: 18px;
      text-align: right;
      @include sp {
        font-size: calc(12 * (100vw / 375));
        padding: 17px 15px 16px 0;
      }
    }
  }
}

.pay{
  &__list{
    margin: 77px auto 0;
    @include sp {
      margin-top: calc(64 * (100vw / 375));
    }
  }
  &__item{
    width: 48%;
    @include sp {
      width: 100%;
      font-size: calc(14 * (100vw / 375));
    }
    &__img{
      margin: 34px 0 0;
      @include sp {
        margin-top: calc(13 * (100vw / 375));
      }
    }
    &__txt{
      margin: 18px 0 0;
      line-height: 1.75;
      @include sp {
        margin-top: calc(7 * (100vw / 375));
        font-size: calc(14 * (100vw / 375));
      }
    }
  }
}

.cancel{
  &__item{
    @include sp {
      margin-top: calc(74 * (100vw / 375));
      font-size: calc(14 * (100vw / 375));
    }
    &__txt{
      margin: 26px 0 0;
      line-height: 1.75;
      letter-spacing: -.01em;
      @include sp {
        margin-top: calc(7 * (100vw / 375));
        font-size: calc(14 * (100vw / 375));
      }
    }
  }
}

.insuranc{
  margin: 224px auto 0;
  @include sp {
    margin-top: calc(89 * (100vw / 375));
  }
  &__heading{
    line-height: 1.6;
  }
  &__list{
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    @include sp {
      flex-wrap: wrap;
      margin-top: calc(39 * (100vw / 375));
    }
  }
  &__item{
    width: 48%;
    &--mt{
      @include sp {
        margin-top: calc(74 * (100vw / 375));
        font-size: calc(14 * (100vw / 375));
      }
    }
    @include sp {
      width: 100%;
    }
  }
  &__txt{
    padding: 20px 0 0;
    letter-spacing: -0.01em;
    line-height: 1.8;
    @include sp {
      margin-top: calc(7 * (100vw / 375));
      font-size: calc(14 * (100vw / 375));
      padding-top: calc(13 * (100vw / 375));
      line-height: 1.75;
    }
  }
}

.access{
  margin: 236px auto 0;
  position: relative;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  @include sp {
    margin-top: calc(110 * (100vw / 375));
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  &__area {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  &__txt__area{
    width: 40%;
    text-align: left;
    background-image: url(../images/about_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4% 6.5% 0 4.3%;
    @include sp {
      width: 100%;
      padding: 15% 9.5% 24% 9.3%;
    }
  }
  &__txt{
    width: 100%;
    font-size: .9rem;
  }
  &__table{
    margin: 58px 0 0;
    width: 100%;
    border: none;
    @media screen and (min-width: 1025px) and (max-width: 1500px) {
      margin-top: calc(40 * (100vw / 1920));
     }
    @include sp {
      margin-top: calc(16 * (100vw / 375));
    }
    &__item{
      border-top: 1px solid;
      &:last-child{
        border-bottom: 1px solid;
      }
    }
    &__common{
      font-size: 18px;
      font-size: calc(18 * (100vw / 1920));
      border: none;
      background: transparent;
    }
    &__time{
      width: 19.5%;
      padding: 22px 0 18px 0;
      &:nth-child(odd){
        background: transparent;
      }
      @media screen and (min-width: 1025px) and (max-width: 1500px) {
        padding-top: calc(28 * (100vw / 1920));
        padding-bottom: calc(24 * (100vw / 1920));
       }
      @include sp {
        font-size: calc(12 * (100vw / 375));
        padding: 8px 0 0 0;
        width: auto;
        display: block;
      }
    }
    &__number{
      padding: 22px 0 18px 0;
      @media screen and (min-width: 1025px) and (max-width: 1500px) {
        padding-top: calc(28 * (100vw / 1920));
        padding-bottom: calc(24 * (100vw / 1920));
       }
      @include sp {
        font-size: calc(12 * (100vw / 375));
        padding: 0 0 21px 0;
        display: block;
      }
    }
  }
  &__map {
    width: 60%;
    @include sp {
      width: 100%;
    }
  }
  &__btn{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    width: calc(550 * (100vw / 1920));
    padding-top: calc(68 * (100vw / 1920));
    padding-bottom: calc(60 * (100vw / 1920));
    text-align: center;
    font-size: 20px;
    &:before{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 18%;
      margin: auto;
      content: "";
      vertical-align: middle;
      width: 13px;
      height: 13px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    @include sp {
      position: relative;
      width: 100%;
      display: block;
      margin: 0;
      padding-top: calc(48 * (100vw / 375));
      padding-bottom: calc(40 * (100vw / 375));
      font-size: 14px;
      letter-spacing: 0.01em;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
}

.contact{
  margin: 155px auto 0;
  @include sp {
    width: 91%;
    margin: 112px auto 0;
    margin-top: calc(112 * (100vw / 375));
  }
  &__heading{
    line-height: 1.6;
  }
  &__link{
    display: flex;
    margin: 67px 0 0;
    @include sp {
      flex-wrap: wrap;
      margin-top: calc(45 * (100vw / 375));
      justify-content: center;
    }
  }
  &__tel{
    border-right: 2px solid #000;
    @include sp {
      border-right: none;
      border-bottom: 2px solid #000;
    }
  }
  &__sns{
    margin: 160px auto 0;
    text-align: center;
    @include sp {
      margin-top: calc(96 * (100vw / 375));
    }
    &__txt{
      font-size: 20px;
      letter-spacing: -.04em;
      margin: 0 0 20px;
      @include sp {
        font-size: calc(14 * (100vw / 375));
        margin: 0 0 16px;
      }
    }
  }
}


/* フッター　START */
.footer{
  background: #2C2424;
  color: #fff;
  margin: 200px auto 0;
  text-align: center;
  font-size: 0.8rem;
  @include sp {
    margin-top: calc(79 * (100vw / 375));
  }
  &__area{
  }
  &__logo{
    padding: 73px 0 0;
    @include sp {
      padding-top: calc(55 * (100vw / 375));
      width: 43%;
      margin: 0 auto;
    }
    &__dynamite{
      padding: 70px 0 0;
      display: flex;
      justify-content: space-between;
      width: 361px;
      margin: 0 auto;
      align-items: baseline;
      @include sp {
        padding-top: calc(60 * (100vw / 375));
        width: 60%;
        justify-content: space-between;
      }
      &__img-1{
        @include sp {
          width: 27%;
        }
      }
      &__img-2{
        @include sp {
          width: 44%;
        }
      }
    }
  }
  &__list{
    padding: 77px 0 0;
    display: flex;
    justify-content: center;
    &__item{
      font-size: 16px;
      margin: 0 69px 0 0;
      letter-spacing: 0em;
      &:last-child{
        margin: 0;
      }
    }
  }
  .copy{
    display: block;
    padding: 85px 0 20px;
    font-size: 11px;
    letter-spacing: 0;
    @include sp {
      padding-top: calc(30 * (100vw / 375));
    }
  }
}

/* フッター　END */